.container {
}

.item {
  width: 45vw;
}

.inputNumber {
  > input {
    width: 5em;
    text-align: center;
  }
}

.cartIcon {
  position: fixed;
  bottom: 2em;
  right: 2em;
  z-index: 2;
  border-radius: 50%;

  > i {
    opacity: 50%;
  }
}
