.container {
}

.item {
  width: 45vw;
}

.cartIcon {
  position: fixed;
  bottom: 2em;
  right: 2em;
  z-index: 2;
  border-radius: 50%;

  > i {
    opacity: 50%;
  }
}

.storeColumns {
  margin-left: 0;
  margin-right: 0;
}
