.container {
}

.item {
  width: 45vw;
}

.cartIcon {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 2;
  border-radius: 50%;

  > i {
    opacity: 50%;
  }
}

.menuIcon {
  position: fixed;
  bottom: 5.5rem;
  right: 2rem;
  z-index: 2;
  border-radius: 50%;

  > i {
    opacity: 50%;
  }
}

.storeColumns {
  margin-left: 0;
  margin-right: 0;
}

.category {
  margin: 1rem;
}
